<template>
  <div>
      <button type="button" class="btn btn-fill btn-dark shadow-none">Dark</button>
      <button type="button" class="btn btn-fill btn-primary shadow-none">Primary</button>
      <button type="button" class="btn btn-fill btn-warning shadow-none">Warning</button>
      <button type="button" class="btn btn-fill btn-danger shadow-none">Danger</button>
      <button type="button" class="btn btn-fill btn-info shadow-none">Info</button>
  </div>
</template>

<script>
import './style.css'
export default {

}
</script>

<style>

</style>